/* ==========================================================================
   Base elements
   ========================================================================== */

@font-face {
    font-family: 'Dax';
    src: url('../fonts/daxregular-webfont.eot');
    src: url('../fonts/daxregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/daxregular-webfont.woff2') format('woff2'),
         url('../fonts/daxregular-webfont.woff') format('woff'),
         url('../fonts/daxregular-webfont.ttf') format('truetype'),
         url('../fonts/daxregular-webfont.svg#dax-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #f9f9f9;
	font-family: "Dax";
}

a {
	color: #e46918;
}

a:hover,
a:focus,
a:active {
	color: #e46918;
	text-decoration: none;
}



/* ==========================================================================
   Helpers
   ========================================================================== */

html body .align-left {
	text-align: left;
}

html body .align-right {
	text-align: right;
}

html body .align-center {
	text-align: center;
}

html body .bold {
	font-weight: 600;
}

html body .block {
	display: block;
}

html body .half-size {
	width: 50%;
}

html body .no-bold {
	font-weight: normal;
}

html body .orange-text {
	color: #e46918;
}

html body .grey-text {
	color: #515151;
}

.flex {
	display: flex;
}

.flex-vertical-align {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-item-top {
	align-self: flex-start;
}

.flex-item-bottom {
	align-self: flex-end;
}

.clear-left {
  clear: left;
}

html body .uppercase {
	text-transform: uppercase;
}

/* ==========================================================================
   Bootstrap Overrides
   ========================================================================== */

.dropdown .btn {
  font-size: 14px;
  padding: 5px;
}

@media (min-width: 768px) {
  .dropdown .btn{
    font-size: initial;
  }
}

.dropdown-menu {
  min-width: auto;
}

@media screen and (max-width: 767px){
  h2 { font-size: 18px;}
  p, .breadcrumb { font-size: 12px;}
}

.breadcrumb li {
  display: inline;
}

/* ==========================================================================
   Main Navigation
   ========================================================================== */

.top-navbar {
	background-color: #d3d3d3;
	margin-bottom: 0;
	height: 46px;
    min-height: initial;

    border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
}

.bottom-navbar {
	background-color: #ddd;
    min-height: initial;
    position: relative;
    z-index: 50;

	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;

    -webkit-box-shadow: 0px 17px 39px 0px rgba(0,0,0,0.03);
	-moz-box-shadow: 0px 17px 39px 0px rgba(0,0,0,0.03);
	box-shadow: 0px 17px 39px 0px rgba(0,0,0,0.03);

	margin-bottom: 20px;
}

.bottom-navbar .navbar-header {
	height: 45px;
	overflow: hidden;
}

	@media (min-width: 769px) {
		.bottom-navbar {
			background-color: #fff;
		}
	}

.mobile-logo {
	margin-bottom: 20px;
}

.mobile-logo a img {
	width: 40%;
}

@media (min-width: 992px) {
	#navbar {
		margin-left: -15px;
		margin-right: -15px;
	}
}

#navbar .navbar-nav {
	padding-left: 276px;
	width: 100%;
}

	@media (min-width: 992px) {
		.navbar-nav > li {
			width: 16.66666666666667%;
		}
	}

.navbar-nav > li > a {
	color: #000;
	border-bottom: 3px solid transparent;
}

@media (min-width: 769px) {
	.navbar-nav > li > a:hover {
		border-bottom: 3px solid #e46918;
		background-color: transparent;
	}

	.navbar-nav > li.active > a {
		border-bottom: 3px solid #e46918;
	}
}

@media (min-width: 992px) {
	.navbar-nav > li > a {
	    padding-top: 31px;
	    padding-bottom: 30px;
	    font-size: 14px;
	    text-align: center;
	    height: 84px;
	}
}

@media (min-width: 1300px) {
	.navbar-nav > li > a {
    	font-size: 16px;
    }
}


/* Dropdown menu when going to tablet/mobile */
html body .navbar-toggle {
	float: left;
	width: 16.66666666666667%;
	padding: 0;
	margin: 0;
	height: 45px;
	padding-top: 0px;

	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
}

.navbar-toggle:hover {
	background-color: #9C9C9C;
}
.featured-slide {
	float: left;
}
@media (min-width: 768px) {
	html body .navbar-toggle {
/*
		padding-top: 33px;
		float: right;
		background-color: #fff;
		margin-bottom: 18px;
*/
	}

	.navbar-toggle:hover {
		background-color: #fff;
	}
}

.navbar-toggle .icon-bar {
	background-color: #e46918;
	margin: 0 auto;
}

@media (max-width: 768px) {
	html body #navbar.collapse ul.nav.navbar-nav,
	html body #navbar.collapsing ul.nav.navbar-nav {
	    margin-top: -1px;
	    width: 100%;
    	padding: 0 !important;
	}

    .social-btn {
	    border: none !important;
    }
}

@media (max-width: 992px) {
	.navbar-nav {
		margin: 0;
	}

	#navbar.collapse ul.nav.navbar-nav,
	#navbar.collapsing ul.nav.navbar-nav {
	    padding-left: 0px;
	    margin-top: 17px;
	    z-index: 99;
	    position: relative;
	}

	#navbar.collapse ul.nav.navbar-nav li,
	#navbar.collapsing ul.nav.navbar-nav li {
		background: #d3d3d3;
	}
}

.bottom-navbar .icons-plus {
	position: absolute;
	right: 5px;
	top: 4px;
	font-size: 12px;
	padding: 10px;
	cursor: pointer;
}

.bottom-navbar .active .glyphicon-plus:before {
   content: "\2212";
}


.bottom-navbar .sub-menu {
	display: none;
/*
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
*/
}

.bottom-navbar .sub-menu li  {
	color: #000;
	list-style-type: none;
}

.bottom-navbar .sub-menu li a {
	color: #000;
}

@media (min-width: 769px) {
  .nav>li>a:hover, .nav>li>a:focus {
  	background-color: transparent;
  	border-bottom: 3px solid #e46918;
  }
}

/* Fixed width left element, fluid width right element using negative margins */

.row-overflow {
	overflow: hidden;
}

#nav-container {
    width: 100%;
    /*background: lime;*/
    float: left;
    margin-left: -261px;
    padding-left: 261px;
}

	#nav-top-fluid {
	    width: 100%;
	    float: left;
	    height: 46px;
	    /*background: red;*/
	    margin-left: -15px;
	    padding-left: 15px;
	}

#nav-top-fixed {
    /*background: blue;*/
    float: left;
    width: 261px;
}

.logo-link {
	display: block;
	position: absolute;
	width: 276px;
	height: 46px;
	margin: 0;
	z-index: 99;
}

	.logo-link img {
		position: absolute;
		margin: 0;
	}


/* Elements inside to the fluid width container */

.nav-social {
	float: left;
	width: 20%;
	/*background: lime;*/
	text-align: center;
	height: 45px;
    padding-top: 7px;
}

.nav-search {
	float: left;
	width: 33.33333333333333%;
	/*background: blue;*/
}
	.nav-search input {
		width: 100%;
		background-image: url('../img/icons/icon-nav-search.png');
		background-repeat: no-repeat;
		background-color: #ebeaea;
		color: #000;
		background-position: center center;
		border: none;
    	padding-right: 35px;
    	height: 45px;
    	padding-left: 25px;
	}

	@media (max-width: 992px) {
		.nav-search {
			border-left: 1px solid #bfbfbf;
			border-right: 1px solid #bfbfbf;
			height: 45px;
		}
	}

	@media (min-width: 768px) {
		.nav-search input {
			background-position: 91% 50%;
		}
	}

	@media (min-width: 992px) {
		.nav-search {
			width: 23%;
		}
	}

	@media (min-width: 1300px) {
		.nav-search {
			width: 24%;
		}
	}

	.nav-search.small-nav {
		width: 16.66666666666667%;
	}

.open-searchbar {
	display: block;
	border: none;
	background-image: url('../img/icons/icon-nav-search.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 45px;
}
	.open-searchbar:hover {
		background-color: #9C9C9C;
		color: #fff;
	}

.mobile-searchbar {
	width: 100%;
}
	.mobile-searchbar input {
		width: 80%;
		display: block;
		float: left;
		border: none;
		height: 45px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.mobile-searchbar button {
		width: 20%;
		display: block;
		float: left;
		height: 45px;
		border: none;
		background: #e46918;
		color: #fff;
	}


.nav-cart {
	float: left;
	width: 33.33333333333333%;
	/*background: purple;*/
	height: 45px;
}

	.nav-cart a {
		display: block;
		width: 100%;
		height: 45px;
		color: #000;
		font-size: 12px;
		background-image: url('../img/icons/shopping_cart_orange.png');
		background-repeat: no-repeat;
		background-position: 20px 50%;
		padding-left: 60px;
		padding-top: 15px;
	}

  @media (min-width: 992px) {
		.nav-cart a {
      background-image: url('../img/icons/icon-nav-cart.png');
		}
	}

	.nav-cart a:hover {
		background-color: #9C9C9C;
		color: #fff;
	}

	@media (min-width: 992px) {
		.nav-cart {
			width: 9%
		}

		.nav-cart a {
			background-position: center center;
	    }
	}

	@media (min-width: 1300px) {
		.nav-cart {
			width: 14%;
		}

		.nav-cart a {
	    	background-position: 20px 50%;
	    	padding-top: 15px;
	    }
	}

	@media (max-width: 992px) {
		.nav-cart {
		    width: 16.66666666666667%;
		}

		.nav-cart a {
			background-position: center center;
	    }
	}

	/*.nav-cart.small-nav {
		width: 50%;
	}*/

	.nav-cart.small-nav a {
		padding-left: 0px;
		text-align: center;
	}


.nav-login {
	float: left;
	width: 33.33333333333333%;
	/*background: red;*/
	border-left: 1px solid #bfbfbf;
	height: 45px;
}

	.nav-login a {
		display: block;
		width: 100%;
		height: 45px;
		color: #000;
		background-image: url('../img/icons/icon-nav-login.png');
		background-repeat: no-repeat;
		background-position: center center;
		padding-left: 60px;
		padding-top: 12px;
	}

	.nav-login a:hover {
		background-color: #9C9C9C;
		color: #fff;
	}

	@media (min-width: 768px) {
		.nav-login a {
/* 			background-position: 20px 50%; */
		}
	}

	@media (min-width: 992px) {
		.nav-login {
			width: 9%;
		}

		.nav-login a {
			background-position: center center;
	    }
	}

	@media (min-width: 1300px) {
		.nav-login {
			width: 14%;
		}

		.nav-login a {
	    	background-position: 20px 50%;
	    }
	}

	.nav-login.small-nav {
		width: 16.66666666666667%;
	}

	.nav-logo.small-nav {
        float: left;
		width: 96px;
	}


.nav-product-config {
	float: left;
	width: 28%;
	background: #e46918;
	background-image: url('../img/icons/icon-nav-product-config.png');
	background-repeat: no-repeat;
	background-position: 10px 50%;
	padding-left: 45px;
	height: 45px;
	padding-top: 14px;
}

	.nav-product-config a {
		color: #fff;
	}

	@media (min-width: 992px) {
		.nav-product-config {
			width: 39%;
		}
	}

	@media (min-width: 1300px) {
		.nav-product-config {
			width: 28%;
		}
	}


/* ==========================================================================
   Footer
   ========================================================================== */

#main-footer {
	padding-top: 25px;
}

#main-footer h2 {
	font-size: 18px;
	font-weight: 600;
	color: #e46918;
}

#main-footer ul li a {
	font-size: 16px;
	color: #000;
	text-decoration: none;
}

	#main-footer ul li a:hover {
		text-decoration: underline;
	}

#main-footer ul {
	list-style-type: none;
	padding-left: 0;
	padding-top: 0px;
}


/* The footer must be collapsible when on tablet and smaller devices. On larger devices it must be seen at all times. */

#main-footer .panel-heading {
	background: #eee;
}

#main-footer .panel-heading h4 a {
	color: #e46918;
}

@media (min-width: 992px) {

	#main-footer .panel-collapse {
		/*min-height: 180px !important;*/
		display: block !important;
	}

	#main-footer .panel {
		border: 0;
	    background: none;
	    box-shadow: none;
	}

	#main-footer .panel-body {
		padding: 0;
	}

		#main-footer .panel-body ul {
			padding-top: 30px;
		}

	#main-footer .panel-heading {
		padding: 0;
	    background: none;
	    border: none;
	}

		#main-footer .panel-heading h4 a {
			font-size: 18px;
			font-weight: 600;
			cursor: default;
		}

		#main-footer .panel-heading h4 a:hover,
		#main-footer .panel-heading h4 a:focus,
		#main-footer .panel-heading h4 a:active {
			text-decoration: none;
		}
}

/* Responsive footer elements that are not link lists */

.cards-accepted {
	margin: 20px auto;
}

	@media (min-width: 768px) {
		.cards-accepted {
			margin: 0px;
		}
	}

	@media (min-width: 992px) {
		.cards-accepted {
			margin: 0;
			padding-top: 86px;
		}
	}

.footer-social-icons {
	margin: 20px auto;
	width: 135px;
}
	@media (min-width: 768px) {
		.footer-social-icons {
			margin: 0;
			float: right;
		}
	}

	@media (min-width: 992px) {
		.footer-social-icons {
			margin: 0;
			padding-top: 30px;
			float: none;
		}
	}

.copyright-row {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #8e8e8e;
}


/* ==========================================================================
   Common Elements
   ========================================================================== */

#header-feature-image {
	background-color: transparent;
	/*background-image: url(../img/feature-images/contact_feature_image.png);
	background-repeat: no-repeat;
	background-position: center center;*/
}

	#header-feature-image .container {
		height: 380px;
		position: relative;
	}

	#header-feature-image .container h1 {
		position: absolute;
		bottom: 20%;
		left: 0;
		padding-left: 55px;
		color: #FFF;
		font-weight: 600;
		display: none;
	}

.header-feature-image img {
	width: 100%;
}
.main-header {
	font-size: 24px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

	.main-header.sub-header {
		margin-bottom: 10px;
	}

	.smaller-heading {
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 20px;
	}

.category-banner {
	margin-bottom: 50px;
}

.breadcrumb {
	background-color: transparent;
	padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

.breadcrumb a,
.breadcrumb a:visited {
	color: #000;
	font-weight: 600;
}

.breadcrumb a:hover,
.breadcrumb a:focus,
.breadcrumb a:active {
	color: #e46918;
}

.dashed-header {
	border-bottom: 4px solid #e5e5e5;
	padding-bottom: 10px;
}

.light-row-full-width {
	background-color: #fff;
}

.dark-row-full-width {
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	background-color: #ececec;
}


/* BUTTONS */

.orange-btn,
.orange-btn:visited {
	border: 1px solid #e9bea2;
	background: transparent;
	font-size: 18px;
	padding: 10px 20px;
	height: 45px;
	color: #e46918;

  overflow: hidden;
  text-overflow: ellipsis;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

	.orange-btn:hover,
	.orange-btn:active,
	.orange-btn:focus {
		border: 1px solid #e9bea2;
		background: #e46918;
		color: #fff;
		font-weight: 300;
		text-decoration: none;
	}

.dark-btn,
.dark-btn:visited {
	display: inline-block;
	border: 1px solid #909090;
	background: transparent;
	font-size: 18px;
	padding: 10px 20px;
	height: 45px;
	color: #000;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

	.dark-btn:hover,
	.dark-btn:active,
	.dark-btn:focus {
		border: 1px solid #909090;
		background: #909090;
		color: #fff;
		font-weight: 300;
		text-decoration: none;
	}

.orange-fill {
	border: 1px solid transparent;
	font-size: 18px;
	padding: 10px 20px;
	height: 45px;
	color: #fff;
	background-color: #c96925;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

	.orange-fill:hover,
	.orange-fill:active,
	.orange-fill:focus {
		color: #fff;
		background-color: #af5e24;
	}


/* Social Links */

.social-links {
	/*width: 360px;*/
	margin-top: 50px;
}

html body .no-padding {
	padding-left: 0;
	padding-right: 0;
}

.social-links .col-xs-3 a {
	text-align: center;
	background-position: center center !important;
}

.social-links .col-xs-6 {
	width: 50% !important;
	margin-right: 0 !important;
}
.social-links .mail {
	display: block;
    width: 27px;
    height: 24px;
    background-image: url(../img/icons/mail_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 38px;
    float: left;
    margin-right: 10px;
}

@media (max-width : 676px) {
	.social-links .mail  {
		width: 50px;
	}
}

@media (max-width : 350px) {
	.social-links .mail  {
		width: 90px;
	}
}

.social-links .print {
	display: block;
    width: 26px;
    height: 24px;
    background-image: url(../img/icons/print_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 38px;
    float: left;
}

.social-btn {
	display: block;
	/*float: left;*/
	border: 1px solid #e2e2e2;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-position: 10px center;
	background-repeat: no-repeat;
	color: #000;
	margin-right: 15px;
	height: 40px;
	width: 90px;
	padding-top: 10px;
    padding-left: 40px;
}
	.social-btn:hover {
		background-color: #efefef;
		color: #3d293d;
	}

	.social-btn.fb-like {
		padding-left: 45px;
		background-image: url(../img/icons/social_facebook_like.png);
	}

	.social-btn.twitter {
		background-image: url(../img/icons/social_twitter.png);
	}

	.social-btn.gplus {
		padding-left: 45px;
		background-image: url(../img/icons/social_gplus.png);
	}


@media (max-width: 768px) {
    .social-btn {
	    background-position: center;
    }
}

/* TABLE styling */

.dataTable .odd {
	background-color: #f6f6f6;
}

.dataTable .even {
	background-color: #fff;
}

.dataTable td,
.styled-table td {
	padding: 5px;
  font-size: 12px
}

@media screen and (min-width: 768px) {
  .dataTable td,
  .styled-table td {
    padding: 15px;
    font-size: initial;
  }
}

.dataTable thead td,
.dataTable thead th,
.styled-table thead td,
.styled-table thead th {
	text-align: center;
	color: #c96925;
	font-size: 14px;
	padding-bottom: 5px;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .dataTable thead td,
  .dataTable thead th,
  .styled-table thead td,
  .styled-table thead th  {
    font-size: 16px;
  }
}

.dataTable tbody {
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.dataTable tbody td {
	border-top: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
}

table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting:after {
	content: normal;
}

.pagination {
  margin-top: 0;
}

.pagination>li>a,
.pagination>li>span {
	border: none;
	color: #000;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
	color: #c96925;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;

	border: 1px solid #c96925;
	color: #c96925;
	background-color: #fff;
}

/*
	The pagination and page length are customised to be at the bottom of the table.
	see: https://datatables.net/release-datatables/examples/basic_init/dom.html
*/

.dataTables_wrapper .bottom {
	padding-top: 15px;
}

.dataTables_length {
	width: 100%;
    float: left;
	margin-bottom: 20px;
}

	.dataTables_length select {
		border: 1px solid #a6a6a6;
	    background: transparent;
	    color: #000;
	    font-size: 14px;
	    border-radius: 0px 0px 0px 0px;
		-moz-border-radius: 0px 0px 0px 0px;
		-webkit-border-radius: 0px 0px 0px 0px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

.dataTables_paginate {
	width: 100%;
    float: left;
}

@media (min-width: 768px) {
	.dataTables_length {
		width: 50%;
	}

	.dataTables_paginate {
		width: 50%;
	}
}

@media (min-width: 992px) {

}

/* Standard non datatables table */
.styled-table td {
	box-sizing: content-box;
	padding: 15px;
}

.styled-table tbody {
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.styled-table tbody td,
.styled-table tbody th {
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}


/* Tabulated information style */

.info-table td {
	padding: 5px;
}

.info-table td:last-child {
	font-weight: 600;
}

.equal-cols td {
	width: 50%;
}


/* Alternating table background colors */

.striped-table tbody tr:nth-child(odd) {
   background-color: #f6f6f6;
}


/* Product listing tables */

.mobile-product-list-header {
	border-bottom: 1px solid #000;
	padding: 0 0 5px 0;
	color: #c96925;
	font-size: 16px;
	text-transform: uppercase;
}

.mobile-product-list-header label {
  margin-left: -15px;
}

.product-list-header {
	padding: 20px 0px;
	border-bottom: 1px solid #000;
}
	.product-list-header > div {
		color: #c96925;
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		min-height: 50px;
	}

.product-list-row {
	border-bottom: 1px solid #000;
	padding: 15px 0px;
  font-size: 12px
}

  @media (min-width: 768px) {
    .product-list-row {
      font-size: initial
    }
  }

@media (max-width: 767px) {
  .product-details .product-list-row .product-qty {
    clear: left
  }
}

	.product-list-row > div ,
	.info-option > div {
		display: flex;
		padding: 5px;
		text-align: center;
		justify-content: center;
		flex-direction: column;
		min-height: 100px;
	}

  @media (max-width: 767px) {
    .product-details .product-list-row .product-qty,
    .product-details .product-list-row .product-price {
      min-height: auto;
      height: auto;
    }
  }

	.product-kit-list > div:nth-child(2)  {
		border-top: none;;
	}
	.product-list-row .price-display {
		display: block;
		min-height: auto;
	}

		.price-display span {
			display: block;
			color: #c96925;
			padding-bottom: 10px;
			text-transform: uppercase;
		}

@media (min-width: 992px){
  .price-display span {
    padding: 5px 0 0;
  }
}

	.product-namekey {
		color: #c96925;
	}

  .img-responsive + .product-namekey {
    margin-top: 5px
  }

	.product-kit-list .info-option > div .iradio_square-orange {
		margin-top: 16%;
	}

	.product-kit-list .info-option > div label {
		padding-left: 0;
	}
/* FORMS */

.styled-form .form-control {
	height: 45px;
	padding: 12px;
}

.styled-form input[type='text'],
.styled-form input[type='password'],
.styled-form input[type='email'],
.styled-form select,
.styled-form textarea {
	border: none;
    border-bottom: 1px solid #a6a6a6;
    background: transparent;
    color: #000;
    font-size: 16px;

    border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.styled-form select {
	border: 1px solid #a6a6a6;
}

	.styled-form input[type='text']:hover,
	.styled-form input[type='password']:hover,
	.styled-form input[type='email']:hover,
	.styled-form select:hover,
	.styled-form textarea:hover {
		border-bottom: 1px solid #000;
	}

	.styled-form input[type='text']:focus,
	.styled-form input[type='password']:focus,
	.styled-form input[type='email']:focus,
	.styled-form select:focus,
	.styled-form textarea:focus {
		background: #fff;
		border-bottom: 1px solid #c96925;
	}

.styled-form label {
	font-size: 12px;
    color: #a6a6a6;
    font-weight: normal;
}

.styled-form .checkbox label,
.styled-form .radio label {
	color: #000;
	font-size: 14px;
}

.styled-form .icheckbox_square-orange,
.styled-form .iradio_square-orange {
	margin-right: 10px;
}

.input-note {
	padding-top: 5px;
	font-size: 12px;
}

/* Table cell icons */

td.pdf-icon-small {
	background-image: url(../img/icons/pdf_icon_small.png);
	background-position: 10px 50%;
	background-repeat: no-repeat;
	padding-left: 35px;
}


/* Styled Grid Blocks */

.grid-block {
	margin-bottom: 40px;
}

	.grid-block .feature-link {
		display: block;
		color: #000;
		border-bottom: 3px solid transparent;
	}

	.grid-block .feature-image {
		margin: 0 auto;
	}

	.grid-block .feature-heading {
		font-size: 18px;
	}

  @media (max-width: 460px) {
    .home-grid-block .feature-heading {
        font-size: 18px;
        position: absolute;
        bottom: 10px;
        left: 30px;
        color: #FFF;
        text-shadow: #333 0 0 20px;
    }
  }

	.grid-orange-border {
		width: 20%;
		display: block;
		height: 3px;
		background-color: #e46918;
	}


  @media (max-width: 768px) {
    .brochures-grid-block:nth-child(2n+3) {
      clear: left;
    }
  }


/* Modal (pop up) boxes */

.custom-modal .modal-content {
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
}

.custom-modal .modal-header {
	border: none;
}

.custom-modal .modal-body {

}

.custom-modal .modal-footer {
	border: none;
}

.custom-modal .modal-title {
	text-transform: uppercase;
	font-weight: 600;
}


/* ==========================================================================
   Home Page
   ========================================================================== */

.action-banner {
	margin-top: 50px;
}

.client-logos {
	padding-top: 70px;
	padding-bottom: 70px;
}

.logo-column img {
    margin: 0 auto;
}


/* Grid Links */

.home-grid {
	margin-top: 55px;
}

/*
	Problem with the blocks pushing others out of alignment.
	Can't figure out the problem right now, setting fixed height as solution.
*/
@media (min-width: 768px) {
    .home-grid-block img {
    	margin: 0;
    }

    .home-grid-block {
		min-height: 290px;
	}
}

@media (min-width: 992px) {
	html body .home-grid-block {
		min-height: 250px;
	}
}

@media (min-width: 1300px) {
	html body .home-grid-block {
		min-height: 320px;
	}
}

/* Icon Links */

.icon-links {
    padding-top: 70px;
    padding-bottom: 70px;
}

.icon-link {
	text-align: center;
}
	.icon-link a {
		height: 215px;
		display: block;
    	text-decoration: none;
	}

	@media (min-width: 992px) {
	    .icon-link {
	    	border-right: 1px solid #d2d2d2;
	    }
	}

	.icon-link a:hover {
		text-decoration: none;
	}

	.icon-links .icon-link:last-child {
		border: none;
	}

	.icon-link h2 {
		font-size: 18px;
	    font-weight: 600;
	    color: #e46918;
	    margin-bottom: 30px;
	    margin-top: 35px;
	}

	.img-uniform-gap {
		height: 85px;
	}

	.icon-link p {
		color: #8e8e8e;
	}


/* Subscribe form */

.subscribe-form {
	padding-top: 30px;
	padding-bottom: 30px;
}
	.subscribe-form h2 {
		color: #e46918;
		font-style: italic;
	}

	.subscribe-form button,
	.subscribe-form input[type='text'] {
		margin-top: 5px;
	}

	.subscribe-form input[type='text'] {
		border: 1px solid #9a9a9a;
		background: transparent;
		font-size: 18px;
		padding-top: 10px;
		height: 45px;
	}

		.subscribe-form input[type='text']:focus {
			background-color: #fff;
			color: #000;
		}

	.subscribe-form button {
		border: 1px solid #e9bea2;
		background: transparent;
		font-size: 18px;
		padding-top: 10px;
		height: 45px;
		color: #e46918;
	}
		.subscribe-form button:hover {
			border: 1px solid #e9bea2;
			background: #e46918;
			color: #fff;
			font-weight: normal;
		}


/* Office Information */

.office-info {
	padding-top: 50px;
	padding-bottom: 50px;
}

.office-info .panel-heading {
	background-color: transparent !important;
}

.office-info .panel-heading h4 a {
	color: #333;
}

/* The footer must be collapsible when on tablet and smaller devices. On larger devices it must be seen at all times. */

.office-info .panel-heading {
	background: #eee;
}

.office-info .panel-body {
	padding-top: 15px;
}

.office-info .panel-body a {
	color: #8E8E91;
}
@media (max-width: 1300px) {
/*
	#main-footer .panel-heading {
		min-height: 55px;
	}

	#main-footer .panel-heading h4 a {
		font-size: 16px;
	}
*/
}

@media (min-width: 992px) {

	.office-info .panel-collapse {
		/*min-height: 180px !important;*/
		display: block !important;
	}

	.office-info .panel {
		border: 0;
	    background: none;
	    box-shadow: none;
	}

	.office-info .panel-body {
		padding: 10px 0 0;
	}

		.office-info .panel-body p {
			color: #8e8e8e;
			font-size: 16px;
		}

	.office-info .panel-heading {
		padding: 0;
	    background: none;
	    border: none;
	}

		.office-info .panel-heading h4 a {
			font-size: 16px;
			font-weight: 600;
			cursor: default;
		}

		.office-info .panel-heading h4 a:hover,
		.office-info .panel-heading h4 a:focus,
		.office-info .panel-heading h4 a:active {
			text-decoration: none;
		}
}


/* Client logos slider */

.client-logos .slick-list {
	overflow: hidden;
}

.client-logos .slider-previous,
.client-logos .slider-next {
	display: block;
	width: 10%;
	height: 42px;
	float: left;
	position: relative;
	top: -10px;
	left: -10px;
}

.client-logos .slider-next {
	left: 10px;
}

	.client-logos .slider-previous img,
	.client-logos .slider-next img {
		display: block;
		margin: 0 auto;
	}

	@media (min-width: 768px) {
	    .client-logos .slider-previous,
		.client-logos .slider-next {
	        top: 10px;
	        left: 0px;
	    }
	}

	@media (min-width: 992px) {
		.client-logos .slider-previous,
		.client-logos .slider-next {
			top: 18px;
			left: 0px;
		}
	}

.client-logos .row {
	width: 80%;
	float: left;
	margin-left: 0;
	margin-right: 0;
}

.client-logos .container {
	position: relative;
}

/* ==========================================================================
   Favourites page
   ========================================================================== */

.favourites-table thead td {
  padding-right: 5px !important;
}

@media screen and (min-width: 769px) {
  .favourites-table thead td {
    padding-right: 15px !important;
  }
}

/* ==========================================================================
   Category & Sub-category Page
   ========================================================================== */

.category-page .main-header {
	margin-top: 40px;
	margin-bottom: 40px;
}

.category-list {
	padding: 0;
}
.category-item {
	border: 1px solid #c7c7c7;
	padding-left: 0;
	padding-right: 0;
/* 	margin-top: 30px; */
/* 	min-height: 470px; */
	margin-bottom: 30px;

	-webkit-box-shadow: 0px 0px 5px 1px rgba(184,184,184,0.5);
	-moz-box-shadow: 0px 0px 5px 1px rgba(184,184,184,0.5);
	box-shadow: 0px 0px 5px 1px rgba(184,184,184,0.5);
}

/*
.category-page .category-item {
	min-height: auto;
}
*/

@media (max-width : 992px) {
/*
	.category-item {
		min-height: 550px;
	}
*/
}

@media (max-width : 400px) {
/*
	.category-item {
		min-height: 650px;
	}
*/
}

.category-item .feature-image {
	padding: 0;
}

.category-item .product-heading h2 {
	font-size: 24px;
    padding-left: 15px;
    text-transform: uppercase;
    word-break: break-word;
}

	.category-item .product-heading h2 a {
		color: #000;
	}

	.category-item .product-heading h2 a:hover {
		color: #e46918;
	}

@media (max-width : 767px) {
	.category-page .category-body {
		padding: 0;
	}

	.category-page .category-body .product-heading h2 {
		padding-left: 5px;
	}

}

.category-item ul {
	padding-left: 0px;
    list-style-type: none;
    padding-top: 20px;
}
	.category-item ul li {
		padding-bottom: 5px;
	}

	.category-item ul li a {
		color: #8d8d8d;
	}

	.category-item ul li a:hover,
	.category-item ul li a:focus,
	.category-item ul li a:active {
		color: #e46918;
	}

.category-list .category-item:first-child {
	margin-top: 0;
}

.category-list .category-item:nth-child(2n) {
	margin-right: 0;
}


/* Category brand logos */

@media (min-width: 768px) {

	.category-item {
		background-position: 98% 99%;
		background-repeat: no-repeat;
	}

		.category-item.product-blum {
			background-image: url(../img/client-logos/client-blum.png);
		}

		.category-item.product-striplox {
			background-image: url(../img/client-logos/client-striplox.png);
		}

		.category-item.product-sige {
			background-image: url(../img/client-logos/client-sige.png);
		}

		.category-item.product-wesco {
			background-image: url(../img/client-logos/client-wesco.png);
		}
}



/* Sub category boxes */

.sub-category-item {
	margin-bottom: 20px;
}

.sub-category-container {
	border: 1px solid #c7c7c7;

	-webkit-box-shadow: 0px 0px 5px 1px rgba(184,184,184,0.5);
	-moz-box-shadow: 0px 0px 5px 1px rgba(184,184,184,0.5);
	box-shadow: 0px 0px 5px 1px rgba(184,184,184,0.5);
}

.sub-category-item .product-heading {
	padding-bottom: 40px;
/* 	min-height: 100px; */
}

.sub-category-item .product-heading h2 {
	font-size: 18px;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 38px;
}

@media (max-width : 992px ) {

	.navbar > .container {
		width: 100%;
		padding: 0;
		}
	.bottom-navbar .navbar-header {
		max-width: 100%;
	}

	.container>.navbar-collapse {
		margin: 0;
		padding: 0;
	}

	#navbar.collapse ul.nav.navbar-nav {
		margin-top: 0;
	}

	.container>.navbar-header {
		margin: 0;
	}

}
@media (max-width : 767px) {
	.sub-category-item .product-heading h2 {
		min-height: 70px;
		font-size: 16px;
	}

	.sub-category-item .product-heading {
		padding-bottom: 10px;
	}

	.product-qty {
		margin-bottom: 10px;
	}
	.sub-category-item {
		padding-left: 0;

	}

}

@media (max-width : 450px) {
	.sub-category-item .product-heading h2 {
		font-size: 11px;
		min-height: 40px;
	}

	.sub-category-item .product-code {
		font-size: 14px !important;
	}

	.sub-category-item {
		padding: 0 5px;
	}

}

	.sub-category-item .product-heading h2 a {
		color: #000;
	}

	.sub-category-item .product-heading h2 a:hover {
		color: #e46918;
	}

.sub-category-item p {
	padding: 10px;
}

.sub-category-item .product-code {
	padding-top: 6px;
	color: #c96925;
	font-size: 16px;
}

.product-qty input {
	width: 100%;
}
.product-qty .check {
	float: left;
}

.sub-category-item .product-qty label {
	text-align: right;
	margin: 0;
	border: 1px solid transparent;
	display: inline-block;
	width: 40%;
	padding: 6px 0 0 0;
	text-align: left;
}

.sub-category-item .product-qty input {
	float: right;
	padding: 0;
	margin: 0;
	display: block;
	width: 50%;
	height: 35px;
}

.sub-category-item .add-to-favourites {
	padding: 20px 0 0 0;
}

.sub-category-item .add-to-cart {
	padding: 0;
}

	@media (min-width: 768px) {
		.sub-category-item .add-to-favourites {
			padding: 0;
		}

		.sub-category-item .add-to-cart {
			padding: 0;
		}
	}

	@media (min-width: 992px) {
		.sub-category-item .add-to-favourites {
			padding: 10px 0 0 0;
		}

		.sub-category-item .add-to-cart {
			padding: 10px 0 0 0;
		}
	}



	.sub-category-item .add-to-favourites a {
		/*margin-top: 10px;*/
		background-color: #f5f5f5;
		color: #c96925;
		padding: 15px 0;
	    text-align: center;
	}

	.sub-category-item .add-to-cart a,
	.sub-category-item .add-to-cart button {
		/*margin-top: 10px;*/
		background-color: #c96925;
		border: none;
		color: #fff;
		padding: 15px;
		padding-left: 25px;
	    text-align: left;
	    background-image: url(../img/icons/add_to_cart.png);
	    background-position: 90% 50%;
	    background-repeat: no-repeat;
	}

	.sub-category-item .add-to-favourites a:hover {
		background-color: #D4D4D4;
	}

	.sub-category-item .add-to-cart a:hover,
	.sub-category-item .add-to-cart button:hover {
		background-color: #D28955;
	}





/* Related products (similar to sub-category boxes) */

.sub-category-item.related-products-item .compact-favourites {
	padding-left: 0;
	padding-top: 20px;
	text-align: center;
}

.sub-category-item.related-products-item .compact-add-to-cart {
	padding-left: 0;
	text-align: center;
	padding-top: 10px;
}

.sub-category-item.related-products-item .product-heading h2 {
	font-size: 12px;
	padding-right: 0;
	height: 65px;
}

.sub-category-item.related-products-item .product-heading {
    padding-bottom: 0px;
/*     min-height: 60px; */
}

.sub-category-item.related-products-item .product-qty {
	padding-bottom: 5px;
}

.sub-category-item.related-products-item .product-qty input {
	width: 100%;
	height: 30px;
	padding-left: 7px;
}

.sub-category-item.related-products-item .product-code {
	padding-left: 20px;
}

.related-products .related-products-list .col-sm-6 h2 {
/* 	height: 30px !important; */
}


	@media (max-width: 1300px) {
		.sub-category-item .related-products-item .product-heading h2 {
			height: 65px;
		}
		.product-kit-information .related-products-list .product-heading h2 {
			height: 120px;
		}

	}

	@media (max-width: 980px) {
		.product-kit-information .related-products-list .product-heading h2 {
			height: 60px;
		}

	}



	@media (min-width: 990px) {
		.sub-category-item .related-products-item .product-heading h2 {
			height: 85px;
		}
	}

	@media (min-width: 992px) {
		.sub-category-item .related-products-item .compact-add-to-cart {
			padding-top: 5px;
		}
	}



/* ==========================================================================
   Product Page
   ========================================================================== */

.go-back {
	background-position: 0px 50%;
    padding: 10px 30px;
    background-repeat: no-repeat;
    background-image: url(../img/icons/back_arrow.png);
    display: block;
    width: 100px;
    padding-top: 14px;
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

	.go-back:hover {
		background-image: url(../img/icons/back_arrow_hover.png);
		color: #af5e24;
	}

.product-header {
	border-bottom: 5px solid #E46918;
	margin-bottom: 40px;
	margin-top: 20px;
}

	.product-header .product-title {
		padding-left: 0;
	}

	.product-header .product-title h1 {
		font-size: 18px;
		font-weight: 600;
	}

  @media screen and (min-width: 768px){
    .product-header .product-title h1 {
      font-size: 22px;
    }
  }

	.product-header .product-keycode {
		padding-left: 0;
	}

  .product-header .product-keycode h1 {
  	font-size: 18px;
  	color: #E46918;
  }

  @media screen and (min-width: 768px){
    .product-header .product-keycode h1 {
      font-size: 22px;
    }
  }

.product-body .feature-img {
	position: relative;
	padding: 0;
	height: auto;
  overflow: hidden;
}

@media (min-width: 768px) {
  .product-body .feature-img {
    height: 385px;
  }
}

	.image-zoom-btn {
		position: absolute;
	    width: 42px;
	    height: 42px;
	    top: 0;
	    right: 0;
	    background-color: rgba(255, 255, 255, 0.7);
	    padding: 10px;
	}

	.image-zoom-btn:hover {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.product-body .thumb-slider .product-slider-container {
		height: auto;
    margin-bottom: 20px;
	}

.product-body .product-details {
	padding-right: 0;
}

.product-details .product-buttons {
	padding-top: 20px;
}

	@media (min-width: 992px) {
		.product-body .product-details {
			height: 385px;
		}

		.product-details .product-buttons {

			bottom: 0;
			width: 100%;
			padding-top: 15px;
		}
	}

table.table-price {
	margin-top: 20px;
}

table.table-price tr td {
	text-align: center;
}

.price a {
	padding-left: 10px;
}

.product-body .image-slider {
	padding-left: 0;
}

.product-details {
	position: relative;
}

.product-details .qty-price {
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

	.product-details .qty-price .quantity label {
		width: 30px;
	}

	.product-details .qty-price .quantity input {
		width: 50px;
	    height: 40px;
	    padding-left: 5px;
	}

	.product-details .qty-price .price {
		text-align: right;
		padding-top: 12px;
	}

.product-slider-container {
	overflow: hidden;
	height: 295px;
}
.product-slider-container img {
	width: 100%;
	margin: 10px 0px;
}
.product-slider-container {
	overflow: hidden;
}

.product-body .image-slider .slider-btn  {
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	height: 40px;
	width: 100%;
	border: none;
}

.product-body .thumb-slider .slider-btn  {
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	height: 25px;
	border: none;
	margin-top: 10%;
}

@media (max-width : 767px) {
	.product-body .thumb-slider .slider-btn  {
		margin-top: 13%;
	}
}

@media (max-width : 480px) {
	.product-body .thumb-slider .slider-btn  {
		margin-top: 25%;
	}
}

.product-body .thumb-slider .thumb-slider-prev {
	background-image: url(../img/slider-left-prev.png);
}

.product-body .thumb-slider .thumb-slider-next {
	background-image: url(../img/slider-right-next.png);
}


.product-body .image-slider .slider-prev {
	background-image: url(../img/slider_vertical_top.png);
}
	.product-body .image-slider .slider-prev:hover {
		background-image: url(../img/slider_vertical_top_hover.png);
	}

.product-body .image-slider .slider-next {
	background-image: url(../img/slider_vertical_bottom.png);
}
	.product-body .image-slider .slider-next:hover {
		background-image: url(../img/slider_vertical_bottom_hover.png);
	}

.product-body .add-to-favs a,
.product-body .add-to-cart a {
	width: 100%;
    display: block;
    background-position: 13px 50%;
    padding: 10px 45px;
    background-repeat: no-repeat;
    padding-top: 13px;
}

.forgot {
	padding: 15px 0;
}

.forgotton-box {
	max-width: 1000px;
	max-height: 100vh; 
	height: 100vh;
	overflow-y: auto;
	float: none;
	height: 100vh;
	margin: 0 auto;
	background: #FFF;
}

.forgotton-box .special-product-slider {
	margin-top: 10px;
	margin-bottom: 20px;
}

.forgotton-box > div:nth-child(1)  {
	max-width: 955px;
	padding: 22px 40px;
	margin: 0 auto;
}

@media(max-width : 992px) {
	.forgotton-box .add-to-favs a,
	.product-kit-body .forgotton-box .show {
		text-align: center;
	}
}

@media(max-width : 440px) {
	.product-body .slider-btn {
		padding-right: 0;
		padding-left: 0;

	}

	.product-body .product-details {
		padding-left: 0;
	}
	.product-body .thumb-slider .slider-btn {
		margin-top: 20%;
	}
}

.forgotton-box > h3 {
	text-transform: uppercase;
}

.forgotton-box .product-slider {
	overflow: hidden;
	margin-top: 10px;
}

.forgotton-box .product-slider .slider-btn ,
.forgotton-box .special-product-slider .slider-btn {
	margin-top: 15%;
	width: 40px;
	position: absolute;
}

.forgotton-box .special-product-slider .slider-btn {
		margin-top: 18%;
	}

@media (max-width : 992px) {
	.forgotton-box .special-product-slider .slider-btn {
		margin-top: 30%;
	}

	.forgotton-box .product-slider .slider-btn {
		margin-top: 22%;
	}
}

.forgotton-box .product-slider .product-slider-prev ,
.forgotton-box .special-product-slider .special-product-prev {
	background-image: url(../img/slider-left-prev.png);
	left: 0;
}

.forgotton-box .product-slider .product-slider-next ,
.forgotton-box .special-product-slider .special-product-next {
	background-image: url(../img/slider-right-next.png);
	right: 0;
}

.forgotton-box .product-heading a ,
.forgotton-box .product-heading h2 {
	font-size: 16px;
	color: #000;
}

.forgotton-box .products-item {
	overflow: hidden;
}
.forgotton-box .products-item .product-box {
	padding-bottom: 7px;
	border: 1px solid #c7c7c7;
}
.forgotton-box .product-heading h2  {
	min-height: 55px;
}

.forgotton-box .compact-favourites {
	padding-top: 20px;
}
.forgotton-box .product-code {
	color: #e46918;
}

.forgotton-box  .product-qty {
	position: relative;
	padding-left: 0;
}
.forgotton-box .product-qty > span:first-child {
	width: 45px;
	height: 37px;
	text-align: center;
	display: block;
	border: 1px solid #c7c7c7;

}

.forgotton-box .product-qty span:first-child {
	line-height: 35px;
}

.forgotton-box .product-qty span.button {
	width: 27px;
	height: 50%;
	position: absolute;
	left: 45px;
	background: #ebebeb;
	color: #8d8d8d;
	text-align: center;
	line-height: 1.2 !important;
	cursor: pointer;
}

.forgotton-box .product-qty span:nth-child(2) {
	top: 0;
}
.forgotton-box .product-qty span:last-child {
	bottom: 0;
}

.forgotton-box .product-box .compact-add-to-cart ,
.forgotton-box .product-box .compact-favourites  {
	text-align: right;
}

@media  (max-width : 1200px) {
	.forgotton-box .product-box > div:nth-child(2) .product-qty {
		padding-left: 0;
	}

	.forgotton-box .product-box > div:nth-child(2) .product-qty span span {
		left: 45px;
	}
}


.forgotton-box .product-qty span span:nth-child(2) {
	top:0;
}

.forgotton-box .product-qty span span:nth-child(3) {
	bottom: 0;
	border-top: 2px solid #c7c7c7;
}

.forgotton-box .grid-orange-border {
	width: 30%;
}

.forgotton-box .show label {
	color: #969696;
	padding-left: 0;
}

.forgotton-box .specials {
	padding-top: 20px;
	padding-bottom: 10px;
}
.forgotton-box .specials h4 {
	display: inline-block;
	margin-top: 0;
}

.forgotton-box .specials p {
	text-align: right;
	padding-right: 25px;
}

.forgotton-box > div:last-child {
	padding-top: 20px;
}
.forgotton-box .add-to-favs a {
  text-align: center;
  padding: 13px 0 10px;
}

@media (max-width : 992px) {
	.forgotton-box .specials p {
		text-align: left;
	}

	.forgotton-box .product-qty {
		padding-left: 15px;
	}
	.forgotton-box .product-qty span.button {
		left:60px;
	}
}

@media (max-width : 720px) {
	.forgotton-box .product-slider .slider-btn,
	.forgotton-box .special-product-slider .slider-btn {
		margin-top: 30%;
	}
}
.forgotton-box .add-to-favs a ,
.forgotton-box .add-to-cart a {
	 background-image: none;
}


.product-body .add-to-favs a {
	color: #c96925;
	background-color: transparent;
	background-image: url(../img/icons/favourite_star.png);
}

	.product-body .add-to-favs a:hover {
		background-color: #f0f0f0;
	}

.product-body .add-to-cart a {
	color: #fff;
	background-color: #c96925;
	background-image: url(../img/icons/add_to_cart.png);
	text-align: center;
}

	.product-body .add-to-cart a:hover {
		background-color: #af5e24;
	}
.panel-group {
	margin-top: 40px;
}
.panel {
	border: none;
	box-shadow: none;
}
.product-info-tabs {
	margin-top: 40px;
	background: #2a2a2a;
    padding-top: 2px;
    padding-bottom: 1px;
    border-bottom: none;
}

.product-info-tabs>li {
    padding-left: 0;
    padding-right: 0;
}

.product-info-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
    background: #2a2a2a;
    height: 60px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

	.product-info-tabs>li>a:hover {
	    color: #c96925;
	}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #c96925;
}

.tab-content>.tab-pane {
	color: #505050;
    padding: 20px;
}

.related-products {
	margin-top: 40px;
}

.related-products .heading h2 {
	margin: 0;
	padding-top: 7px;
	font-size: 22px;
}

.related-products .related-products-list {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #f6f6f6;
	margin-top: 15px;
}

@media (max-width : 992px) {
	.related-products .related-products-list {
		padding-bottom: 0;
	}

	.related-products .related-products-list .sub-category-item {
		margin-bottom: 15px;
	}
}

@media (max-width : 768px) {
	.related-products .related-products-list {
		background-color: transparent;
	}
}


.related-products .item-slide {
	overflow: hidden;
}

.related-products .item-slide .items {
	overflow: hidden;
}

.related-products .item-slide .items .related-products-item > div {
	border: none;
	box-shadow: none;
	width: 100%;
}

.related-products .item-slide .items .related-products-item a {
	display: block;
	padding-bottom: 10px;
}

.related-products .item-slide .items .related-products-item h2 {
	text-align: center;
}

.related-products .item-slide .slider-btn ,
.forgotton-box .product-slider .slider-btn ,
.forgotton-box .special-product-slider .slider-btn  {
	background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    height: 40px;
    border: none;
    margin-top: 26%;
}

.related-products .item-slide .slider-btn {
	margin-top: 17%;
}
.related-products .item-slide .slide-prev {
	background-image: url(../img/slider-left-prev.png);
}

.related-products .item-slide .slide-next {
	background-image: url(../img/slider-right-next.png);
}

@media (max-width : 769px) {
	.product-information .image-slider {
		padding: 0;
	}
	.product-information .image-slider .slider-btn {
		padding-left: 0;
		padding-right: 0;
	}

}
/*  Accordion */
.product-information .product-information .panel {
	margin-bottom: 10px;
}
.product-information .panel-heading {
	background: #2a2a2a !important;
	border-radius: 0;
}
.product-information .panel-heading h4 ,
.product-information .panel-heading a {
	color: #FFF;
	font-weight: normal;
	font-size: 14px;
}
.product-information .panel-heading a {
	padding: 10px 15px;
	display: block;
}
.product-information #accordion .panel:first-child a {
	color: #c96925;
}
.product-information .panel-heading:first-child a {

}
.product-information .panel-heading a[aria-expanded='false'] {
	color: #FFF !important;
}
.product-information .panel-heading a[aria-expanded='true'] {
	color: #c96925;
}
.product-information .panel-body p , .panel-body ul li {
	font-family: "Dax";
}
.product-information .product-info-tabs li:first-child {
	padding-left: 2px;
}

.product-information .product-info-tabs > li > a:hover {
	border: none;
}
.carousel-inner > div:first-child {
	display: block;
}

#owl-demo .item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Product kit page modifications */

.sync-set {
	background-color: #3d2a3d;
	color: #fff;
	text-align: center;
	display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50px;
}

.product-body .feature-img a[data-toggle="lightbox"] {
/*
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
*/
}
.product-kit-options {
	margin-top: 20px;
	margin-bottom: 20px;
}

	.product-kit-options .sync-text {
		font-size: 12px;
		padding-top: 20px;
		padding-bottom: 5px;
	}

	.product-kit-options label {
		padding-left: 0;
	}

.product-kit-body .product-list-header {
	padding: 0;
}

	.product-kit-body .product-list-header > div {
		font-size: 14px;
		color: #000;
	}

.product-kit-body .feature-img {
/* 	height: auto; */
}

.product-kit-body .product-details {
	height: auto;
	padding-bottom: 0px;
}

.product-kit-body .product-list-row {
	border-bottom: none;
	padding: 0;
}

.product-kit-list .info-option {
	display: none;
}

.product-kit-list .info-option img {
	width: 65%;
	float: right;
}

.product-kit-list .info-option div:has(.checked) {
	background-color: red;
}

.product-kit-list .info-option  input {
	float: left;
	pointer-events: none;
}

.product-kit-list .info-option  ins {
	pointer-events: none;
}


.product-kit-body .product-kit-list > div:last-child .product-name ,
.product-kit-body .product-kit-list > div:last-child .product-qty ,
.product-kit-body .product-kit-list > div:last-child .product-price{
	border-bottom: none;
}

.product-kit-body .bg-white {
	background-color: transparent !important;
}

.product-kit-body .product-details .qty-price p {
	padding: 10px 0 0;
}
.product-kit-body .bg-white span ,
.product-kit-body .bg-white div {
	opacity: 1 !important;
}

.product-kit-list .info-option .product-image a {
	width: 100%;
	height: 100%;
	position: absolute;
}

.product-kit-list .active {
	background-color: rgba(0, 0, 0, 0.1);
}
	.product-kit-body .product-list-row > div {

	}

	.product-kit-body .product-list-row .product-name ,
	.product-kit-body .info-option .product-name {
	    text-align: left;
	    font-size: 12px;
	}

	.product-kit-body .product-list-row .product-name a {
		cursor: pointer;
	}

	.product-kit-body .product-list-row {
		border-top: 1px solid #000;
		min-height: 80px;
	}


	.product-kit-body .product-list-row .product-qty,
	.product-kit-body .product-list-row .product-price {
/* 		height: 30px; */
/* 		max-height: 100%; */
	}

	.product-kit-body .info-option {
			background-color: rgba(0, 0, 0, 0.1);
		}


	.product-kit-body .info-option .product-name,
	.product-kit-body .info-option .product-qty,
	.product-kit-body .info-option .product-price,
	.product-kit-body .product-list-row .product-total {
		border-bottom: 1px solid #000;
	}
	.product-kit-body .info-option:last-child .product-name ,
	.product-kit-body .info-option:last-child .product-qty ,
	.product-kit-body .info-option:last-child .product-price {

		border-bottom: none;
	}

	.product-kit-body .info-option .radio label {
		display: block;
		height: 50px;
	}

	@media (max-width: 1300px) {
		/*.product-kit-body .product-list-row .product-qty,
		.product-kit-body .product-list-row .product-price
		.product-kit-body .info-option .product-qty,
		.product-kit-body .info-option .product-price {
			min-height: 100px;
		}*/
		.product-kit-body .info-option .radio label .iradio_square-orange {
			margin-top: 0;
			float: none !important;
			text-align: center;

		}

		.product-kit-body .info-option .radio label img {
			margin-top: 5px;
			float: none;
			width: 100%;
			text-align: center;
		}
	}

	@media (max-width: 992px) {

		.product-kit-body .info-option .radio label .iradio_square-orange {
			margin-top: 17%;
			float: left;
			text-align: left;

		}

		.product-kit-body .info-option .radio label img {

			margin-top: 0;
			float: right;
			width: 65%;
			text-align: left;

		}
	}


	@media (max-width: 990px) {
		.product-kit-body .product-list-row{
/* 			height: 125px;; */
		}
	}
	@media (max-width: 768px) {
		.product-kit-body .product-list-row {
/* 			height: 600px; */
		}
		.product-kit-body .product-list-row .product-qty,
		.product-kit-body .product-list-row .product-price {
/* 			height: auto; */
		}
	}

	@media (max-width : 760px) {
		.product-kit-body .product-list-row .product-image {
			height: auto;
		}
	}

	@media (min-width: 992px) {
		.product-total {
			text-align: right;
		}

		.product-kit-options {
			margin-bottom: 0px;
		}

		.product-kit-options .sync-text {
			padding-top: 0px;
		}

		.product-kit-body .product-details {
			height: auto;
			padding-bottom: 95px;
		}

		.product-kit-body .product-list-row {
			border-top: none;
		}

		.product-kit-body .product-list-row > div {
/* 			min-height: 85px; */
		}


		.product-kit-body .info-option > div {
			min-height: 85px;
		}

		.product-kit-body .info-option .radio label {
			padding-left: 0;
		}

		.product-kit-body .info-option .radio label .iradio_square-orange {
			float: left;
		}

		.product-kit-body .info-option span ,
		.product-kit-body .info-option div {
			opacity: 0.7;
		}


		.product-kit-body .product-list-row .product-name,
		.product-kit-body .product-list-row .product-qty,
		.product-kit-body .product-list-row .product-price,
		.product-kit-body .info-option .product-name,
		.product-kit-body .info-option .product-qty,
		.product-kit-body .info-option .product-price,
		.product-kit-body .product-list-row .product-total {
			border-bottom: 1px solid #000;
		}

		.product-kit-body .product-list-row:last-child .product-name,
		.product-kit-body .product-list-row:last-child .product-qty,
		.product-kit-body .product-list-row:last-child .product-price,
		.product-kit-body .product-list-row .product-total {
			border-bottom: none;
		}

		.product-kit-body .product-list-row:last-child {
			border-bottom: 1px solid #000;
		}

		.product-kit-body .product-list-row .product-qty,
		.product-kit-body .product-list-row .product-price
		.product-kit-body .info-option .product-qty,
		.product-kit-body .info-option .product-price {
			min-height: 100px;
		}

		.product-kit-body .info-option .product-price {
			min-height: 85px;
		}
	}


/* ==========================================================================
   Checkout Payment page
   ========================================================================== */

.payment-content .product-list-row > div {
    padding: 10px;
}

.payment-content .product-list-header div small {
	text-transform: none;
	color: #515151;
}

.payment-form .radio label {
	padding-left: 0;
}

.payment-background {
	background-color: #fafafa;
	padding-top: 40px;
	padding-bottom: 40px;
}

.payment-content .price-table tr > td {
	padding-right: 20px;
}

.payment-content .security-info {
	width: 170px;
	padding-top: 30px;
	margin: 0px auto;
}

	@media (min-width: 768px) {
		.payment-content .security-info {
			padding-top: 150px;
			padding-bottom: 100px;
		}
	}

	@media (min-width: 992px) {
		.payment-content .security-info {
			border: 1px solid #a6a6a6;
			width: 400px;
			padding: 100px;
			margin: 30px auto;
		}
	}

	.payment-content .security-info h3 {
		margin: 0;
		padding: 0;
	}

	.payment-content .security-info p {
		margin: 0;
	}

	.payment-content .security-info img {
		display: block;
		padding: 20px 0px;
	}

.poli-info-container h2 {
	font-size: 22px;
	color: #c96925;
}

.poli-info-container p {
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0;
}

.poli-info-container ol {
	padding-left: 15px;
	margin-left: 0;
	color: #515151;
}

.payment-form-container {
	width: 100%;
}

	@media (min-width: 992px) {
		.payment-form-container {
			width: 70%;
		}
	}

	.what-is-a-cvv {
		display: block;
		padding-top: 15px;
		color: #575757;
		text-decoration: underline;
	}

	.what-is-a-cvv:hover {
		color: #c96925;
		text-decoration: none;
	}

.checkout-cards-accepted {
	display: block;
	padding-bottom: 20px;
}

.finalise-order {
	padding-top: 10px;
}

@media (min-width: 768px) {
  .finalise-order {
  	padding-top: 50px;
  }
}

.finalise-order-btn {
	margin-top: 20px;
}

.save-to-favourites,
.empty-cart {
	font-size: 17px;
	width: 200px;
	display: inline-block;
	padding-top: 24px;
	padding-bottom: 20px;
	padding-left: 30px;
	background-position: 0px 50%;
	background-repeat: no-repeat;
	color: #000;
}
	@media (min-width: 992px) {
		.save-to-favourites,
		.empty-cart {
			margin-left: -30px;
		}
	}

	.save-to-favourites:hover,
	.empty-cart:hover {
		color: #e46918;
	}

	.save-to-favourites {
		background-image: url(../img/icons/favourite_star.png);
	}

	.empty-cart {
		background-image: url(../img/icons/empty_cart.png);
	}


/* Shopping cart page */

.shopping-cart-page .save-to-favourites {
	margin-left: 0;
}

@media (min-width: 992px) {
	.shopping-cart-page .empty-cart {
		margin-left: 30px;
	}
}

.shopping-cart-page .remove-from-cart {
	min-height: 40px;
}

	.shopping-cart-page .remove-from-cart a span {
		padding-left: 10px;
	}

	@media (min-width: 768px) {
		.shopping-cart-page .remove-from-cart {
			min-height: 100px;
		}
	}

.checkout-product-list-row {
  padding: 30px 0 0 0;
  position: relative;
}

@media (min-width: 768px) {
  .checkout-product-list-row {
    padding: 15px 0;
  }
}

.remove-from-cart {
  position: absolute;
  top: 0;
  padding: 0 !important;
}

@media (min-width: 768px) {
  .remove-from-cart {
    position: relative;
    padding: 10px;
  }
}

/* Checkout delivery page */

.delivery-type-deliver {
	padding-bottom: 20px;
}

.delivery-type-deliver label {
	padding-left: 50px;
}

.delivery-type-deliver .iradio_square-orange {
	margin-left: -35px;
}

.pickup-subselection {
	padding-left: 30px;
}

.delivery-type-pickup {
	padding-bottom: 15px;
}

.same-day-delivery {
	margin-bottom: 40px;
	width: 290px;
	background-image: url(../img/icons/info_icon.png);
	background-position: right center;
	background-repeat: no-repeat;
}

.shipping-details-table {
	margin-bottom: 40px;
}

.shipping-details-page .dashed-header {
	font-size: 24px;
	margin-bottom: 40px;
}

.delivery-form-row {
	margin-top: 40px;
}

.finish-delivery-btn {
	margin-top: 20px;
}

@media (min-width: 768px) {
    .finish-delivery-btn {
		margin-top: 0px;
	}
}

@media (min-width: 992px) {
    .shipping-details-page .dashed-header {
			margin-top: 30px;
	}

	.delivery-form-row {
		margin-top: 0px;
	}
}

.action-buttons {
	margin-top: 40px;
}

}

/* ==========================================================================
   Login page
   ========================================================================== */


.login-panels .panel {
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;

	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);

    border: none;
}

.login-panels .panel-heading {
	background: transparent;
    border-bottom: 2px solid #a6a6a6;
    background-image: url(../img/icons/collapse_down.png);
    background-position: 98% 50%;
    background-repeat: no-repeat;
	padding-right: 30px;
}

.login-panels .panel-heading a {
	width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
}

.login-panels .panel-body {
	border-top: none !important;
	border-bottom: 2px solid #e5e5e5;
    /*margin-bottom: 20px;*/
}

.login-body {
	padding-top: 40px;
	padding-bottom: 40px;
}

.login-form .forgot-username {
	text-align: right;
}

	.login-form .forgot-username a {
		color: #818181;
		text-decoration: underline;
		font-size: 12px;
	}

	.login-form .forgot-username a:hover {
		color: #c96925;
		text-decoration: none;
	}

.login-form .keep-me-loggedin label {
	text-align: right;
    width: 100%;
    color: #818181;
	font-size: 12px;
}

.login-form .login {
	width: 70%;
    float: right;
}

.register-account h2 {
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 40px;
	text-align: center;
	font-size: 22px;
	/*font-weight: 600;*/
}

.register-account p,
.request-account p {
	text-align: center;
}

	.request-account p {
		height: 50px;
	}

.register-account a,
.request-account a {
	display: block;
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

h2.trade-header {
	padding-top: 40px;
}

@media (min-width: 992px) {
    .register-account h2 {
		min-height: 50px;
	}

	.register-account p,
	.request-account p {
		min-height: 110px;
	}

	h2.trade-header {
		padding-top: 0px;
	}
}




/* ==========================================================================
   Sidebar
   ========================================================================== */


/* Sidebar content structure */

.sidebar-content-wrapper {

}

	.main-sidebar{
		width: 100%;
		display: block;
		height: 200px;
		overflow: auto;
		padding: 20px 20px;
	}

	.sub-menu {
		width: 100%;
		display: block;
		overflow: auto;
		padding: 10px 0;
	}

	.sub-menu ul li a {
		display: block;
		padding: 3px;
		padding-left: 10px;
		color: #000;
		font-weight: 300;
	}

	.sub-menu h1 {
		padding-left: 40px;
	}

	.sub-menu ul li ul {
		padding-left: 15px;
	}
	.sub-menu li a:hover,
	.sub-menu li a:active,
	.sub-menu li a:focus {
		color: #c96925;
	}

	.sub-menu ul ul li a {
		font-weight: 300;
	}

	.sub-menu ul li a.active {
		border-left: 3px solid #c96925;
		color: #c96925;
	}

	.sub-menu ul ul li a.active {
		border-left: none;
	}

	.main-content {
		width: 100%;
		background: #fff;
		padding: 20px 10px;
	}

	.main-content > h1:first-child {
		margin-top: 0;
	}

.sidebar-content-wrapper .sub-category-list {
	padding: 0;
}

.sidebar-content-wrapper .sub-category-list .sub-category-item {
/* 	padding-left: 0; */
}

.sidebar-content-wrapper .sub-category-list .sub-category-item:nth-child(3n) {
	margin-right: 0;
}

@media (min-width: 768px) {
	.main-content {
		padding: 70px 40px;
	}
}

@media (min-width: 992px) {
    .sidebar-content-wrapper {
		display: flex;
		padding-left: 276px;
	}

	.main-sidebar {
		height: auto;
		overflow: initial;
		width: 276px;
		margin-left: -276px;
		padding: 70px 20px;
	}

	.main-content {
		padding: 70px 40px;
	}

	.main-content > h1:first-child {
		margin-top: 0;
	}
}


/* Sidebar link styling */

.main-sidebar h1 ,
.sub-menu h1{
	font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.main-sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	.main-sidebar ul li a {
		display: block;
		padding: 3px;
		padding-left: 10px;
		color: #000;
		font-weight: 600;
	}

	.main-sidebar ul ul li a {
		font-weight: 300;
	}

	.main-sidebar ul li a.active {
		border-left: 3px solid #c96925;
		color: #c96925;
	}

	.main-sidebar ul ul li a.active {
		border-left: none;
	}

	.main-sidebar ul li a:hover,
	.main-sidebar ul li a:active,
	.main-sidebar ul li a:focus {
		color: #c96925;
	}

	.main-sidebar ul ul {
		padding: 10px;
	}




/* ==========================================================================
   Other Pages
   ========================================================================== */

.download-statement-table img,
.application-forms-table img {
	display: inline-block;
	margin-right: 10px;
}

.download-statement-table a {
	color: #000;
}

	.download-statement-table a:hover {
		color: #e46918;
	}

.media-centre-banner {
	margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
  .account-payment-table .pay 			  { width: 22px; } /* Inherit width of checkbox */
  .account-payment-table .invoice 	  { width: 15%; }
  .account-payment-table .date 		  	{ width: 20%; }
  .account-payment-table .debit 			{ width: 20%; }
  .account-payment-table .outstanding { width: 20%; }
  .account-payment-table .pay-amount 	{ min-width: 90px; } /* Fit approximately 4 digits */
}

.account-payment-table .pay-amount .form-group {
	margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .account-payment-table thead {
      display: none
    }
    .account-payment-table tbody  {
      border-right: none;
    }
    .account-payment-table tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      padding: 10px 0;
    }
    .account-payment-table tbody tr {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-top: 1px solid #ddd;
    }
    .account-payment-table tbody td {
      -ms-flex: 0 1 auto;
      -ms-flex-preferred-size: 100%;
    }
    .account-payment-table tbody td:before {
      display: inline-block;
      content: attr(data-title);
      text-align: left;
      color: #c96925;
      text-transform: uppercase;
      margin-right: 10px;
      min-width: 120px;
    }
    .account-payment-table .pay:before  { min-width: 0; } /* No width for checkbox label */
    .account-payment-table tbody td {
      display: inline-block;
      padding: 5px 15px;
      width: 100%;
      border: none;
    }
    .account-payment-table .pay-amount:before  {
      float: left;
      line-height: 34px;
    }
    .account-payment-table .input-group,
    .account-payment-table .form-group {
      display: inline-table;
    }
    .account-payment-table .form-group {
      width: 40%;
    }
}

.account-payment-footer {
	background-color: #e46918 !important;
}

.account-payment-footer td {
	border-color: #e46918 !important;
	border: 1px solid #e46918;
	color: #fff;
}

.account-payment-checkout {
	padding-left: 0;
	padding-top: 30px;
}

    .account-payment-checkout .prices {
    	padding-left: 39%;
    }

	.account-payment-checkout .prices > div {
		height: 30px;
		float: left;
	}

	.account-payment-checkout .prices .payment-header {
		width: 66%;
        padding: 0 0 0 15px;
	}

	.account-payment-checkout .prices .payment-price {
		width: 15%;
        padding: 0 0 0 15px;
	}

	.account-payment-checkout .styled-form .radio label {
		padding-left: 0;
		padding-bottom: 5px;
	}

	.account-payment-checkout .styled-form h3 {
		margin-top: 40px;
    	margin-bottom: 20px;
	}

	.account-payment-checkout .payment-email {
		margin-top: 30px;
	}

	.account-payment-checkout select#ccexpyyyy,
    .account-payment-checkout select#ccexpmm {
		max-width: 100px;
        float: left;
        margin-right: 10px;
	}

    /*.account-payment-checkout select#ccexpmm {
		margin-bottom: 10px;
	}*/




@media screen and (max-width: 767px) {

    .account-payment-checkout {
    	padding-left: 0;
    }
}

.order-confirmation .save-to-favourites {
	margin-left: 0
}

.order-confirmation .product-list-header {
	padding-top: 0;
}

.price-rows {
	margin-top: 10px;
}

@media (min-width: 768px) {
  .price-rows {
  	margin-top: 30px;
  }
}

.price-rows > div {
	margin-bottom: 10px;
}

	.price-rows-nopadding .price-value {
		padding-right: 0;
	}

.order-confirmation .print-order {
	display: inline-block;
	margin-top: 10px;
}

.order-confirmation .button-row {
	margin-top: 20px;
}

.install-instructions-box {
	text-align: center;
	margin-bottom: 25px;
}

@media (max-width: 768px) {
  .install-instructions-box:nth-child(2n+3) {
    clear: left;
  }
}

.install-instructions-box img {
	margin-bottom: 20px;
}

/* ==========================================================================
   News and Promotions
   ========================================================================== */

.news-list {
	border-top: 1px solid #d8d8d8;
}

.news-content {
	margin-top: 20px;
	margin-bottom: 20px;
}

.news-item {
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 20px;
}

	.news-item h2 {
		font-size: 22px;
	}

	.news-item .read-more {
		display: inline-block;
		margin-top: 10px;
		padding-right: 20px;
		background-image: url(../img/icons/arrow_right.png);
		background-position: right center;
		background-repeat: no-repeat;
		background-color: transparent;
		font-size: 16px;
		color: #000;
	}

	.news-item .news-date {
		padding-top: 15px;
		font-weight: 600;
		padding-bottom: 20px;
		text-align: right;
	}

	.news-item .read-more:hover {
		color: #e46918;
	}

	.news-img img {
		margin: 0 auto;
	}

.button-list {
	margin-top: 40px
}

.row-btn {
	margin-top: 10px;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .news-item .news-date {
		padding-top: 40px;
		padding-bottom: 0;
		text-align: left;
	}

	.news-item {
		margin-bottom: 0;
	}

	.news-content {
		border-right: 1px solid #d8d8d8;
	}
}


/* ==========================================================================
   Contact Form
   ========================================================================== */

.main-contact-form {
	margin-top: 40px;
	padding: 20px;
	background-color: #ececec;
}

	@media (min-width: 992px) {
		.main-contact-form {
			margin-top: 0px;
		}
	}

.main-contact-form h2 {
	text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 26px;
}

.main-contact-form .control-label {
	color: #565656;
	font-weight: 300;
}

.main-contact-form input,
.main-contact-form textarea {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #b1b1b1;
	font-weight: 600;
}

.locations {
	margin-bottom: 0;
}

.locations h3 {
	font-size: 20px;
	font-weight: 600;
	margin-top: 40px
}

.locations .social-buttons {
	margin-top: 35px;
    margin-bottom: 35px;
}



/* ==========================================================================
   Order Details
   ========================================================================== */

.order-details-info .product-list-header {
	padding-bottom: 0;
	border: none;
}

.order-details-info .product-list-row {
	border-left: 1px solid #d0d0d0;
	border-bottom: none;
	padding: 0;
}

	.order-details-info .product-list-row > div {
		min-height: 50px;
		background-color: #f6f6f6;
		border-top: 1px solid #d0d0d0;
		border-right: 1px solid #d0d0d0;
		border-bottom: 1px solid #d0d0d0;
	}


/* ==========================================================================
   Our Team
   ========================================================================== */

.our-team {
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.our-team > .row {
	border: 1px solid #ededed;
}

.our-team .team-photo {
	padding-left: 0;
}

.our-team h2 {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 24px;
	text-transform: uppercase;
	padding-bottom: 10px;
	border-bottom: 3px solid #c86925;
	display: inline-block;
}

.our-team h3 {
	font-size: 18px;
	margin-top: 10px;
}

.our-team p {
	color: #8c8c8c;
	font-size: 13px;
    margin-top: 15px;
}



/* ==========================================================================
   Register
   ========================================================================== */

.captcha-fields h2 {
	font-size: 18px;
}



/* ==========================================================================
   Search
   ========================================================================== */

.text-search-results {
	list-style-type: none;
	padding-left: 0;
}

.text-search-results h2 {
	color: #e46918;
}

.text-search-results p.result-url {
	color: #737373;
	margin-bottom: 5px;
    font-size: 13px;
}

.extra-results-header {
	margin-top: 70px;
}

/* ==========================================================================
   Application Form
   ========================================================================== */

.application-form h3 {
	font-size: 22px;
}

.application-form .main-form h3 {
	margin-top: 8px;
}

@media (min-width: 992px) {
	.application-form .main-form .same-as-postal {
		height: 20px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
}

.application-form .main-form .same-as-postal label {
	padding-left: 0;
}

.application-form .form-padding {
	padding-top: 20px;
	padding-bottom: 10px;
}

@media (min-width: 992px) {
	.application-form .form-padding {
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.application-form .main-form {
		padding-top: 20px;
	}
}


/* ==========================================================================
   Locations Page
   ========================================================================== */

.location-page h2 {
	font-size: 22px;
}

#gmap_container {
	overflow: hidden;
	height: 325px;
	width: 100%;
}

#gmap_canvas {
	height: 325px;
	width: 100%;
}

.aus-map button {
	display: block;
    border: none;
    width: 100%;
    height: 26px;
    background-image: url(../img/location_dot.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 3px 50%;
    padding-left: 26px;
    text-align: left;
    font-weight: 600;
	margin-bottom: 10px;
}

	.aus-map button.active {
		background-color: #3d2a3d;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		color: #fff;
		font-weight: 300;
	}

	@media (min-width: 768px) {

		.aus-map {
			background-image: url(../img/aus_map.png);
			background-color: transparent;
			background-repeat: no-repeat;
			width: 450px;
			height: 378px;
			position: relative;
			margin: 0 auto;
		}

		.aus-map button {
			width: 100px;
			position: absolute;
			margin-bottom: 0;
		}

		.aus-map #brisbane {
			right: 0%;
			top: 45%;
		}

		.aus-map #perth {
			left: 8%;
			top: 60%;
		}

		.aus-map #sydney {
			right: -1%;
			top: 67%;
		}

		.aus-map #melbourne {
			right: 16%;
			top: 77%;
		}

		.aus-map #hobart {
			right: 11%;
			top: 91%;
		}
	}

.aus-map button:hover {

}

.map-locations .location {
	display: none;
}

.map-locations .location.active {
	display: block;
}

#gmap_canvas img {
	max-width: none!important;
	background: none!important;
}



.favourites-open-total {
	margin-top: 30px;
}

.favourites-open-buttons {
	margin-top: 30px;
}

html body .favourites-checkbox {
	min-height: 30px;
}

.favourites-open-product-list-row {
	padding-top: 0;
}

.add-all-to-cart {
	margin-top: 10px;
}

@media (min-width: 768px) {
    html body .favourites-checkbox {
		min-height: 100px;
	}

	.favourites-open-product-list-row {
		padding-top: 15px;
	}

	.add-all-to-cart {
		margin-top: 0px;
	}
}

.order-confirmatioin-subscribe {
	margin-top: 20px;
}

@media (min-width: 992px) {
	.order-confirmatioin-subscribe {
		margin-top: 0px;
	}
}

.register-forms {

}

.create-account {
	margin-top: 40px;
}

@media (min-width: 992px) {
	.create-account {
		margin-top: 0px;
	}

	.captcha-fields {
		margin-top: 120px;
	}
}

/* ==========================================================================
   Plugins
   ========================================================================== */

/* Bootstrap: 5 column css extension */
/* http://stackoverflow.com/questions/10387740/five-equal-columns-in-twitter-bootstrap */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }

    html body .product-box {
		text-align: left;
	}

	html body .product-box img {
		margin: 0;
	}
}

@media (min-width: 1300px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}



/body, html {
padding: 0;
margin: 0;
text-align: center;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
left: 0;
z-index: 9999999;
width: 100%;
background: rgba(150,150,150,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target > img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
	display: block;
	width:50px;
	height:50px;
	box-sizing: border-box;
	background: white;
	color: black;
	text-decoration: none;
	position: absolute;
	top: -80px;
	right: 0;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
	top: -20px;
	right: -20;
}
